#manatee-showing, .castle-showing {
  display: none;
}
#manatee2-showing {
  display: none;
}
.clickable, .btn-clickable, .clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .btn-clickable, .clickable2 {
  text-decoration: underline;
}

.dark-background {
  background-color: grey;
  color: white;
}
.dark-background span{
  color: yellow;
}
